.page_routes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* gap: 0.5rem; */
}

.nav_element {
  text-decoration: none;
  color: var(--text-color-dark);
  font-size: 1.6rem;
  margin: 1rem 0;
  border-radius: 0.6rem;
  padding: 0.6rem;
  cursor: pointer;
}

.nav_name {
  display: none;
}

.user_in_nav {
  display: flex;
  align-items: center;
}

.user_pic_in_nav {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}
.create_post {
  border: none;
  margin: 1rem 0;
  border-radius: 0.6rem;
  padding: 0.6rem;
  background: none;
  font: inherit;
  cursor: pointer;
  background-color: var(--text-color-dark);
  color: var(--text-color-light2);
}

.create_post:hover {
  background-color: var(--bg2-color);
  color: var(--text-color-dark);
}

.new_post_modal {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1024px) {
  .nav_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* margin-top: 2rem; */
    justify-content: space-between;
    height: 94vh;
  }

  .page_routes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    /* margin-top: 2rem; */
  }

  .nav_element {
    text-decoration: none;
    color: var(--text-color-dark);
    font-size: 1.2rem;
    margin: 1rem 0;
    border-radius: 0.6rem;
    padding: 0.6rem;
    cursor: pointer;
  }
  .nav_element:hover,
  .user_in_nav:hover {
    background-color: var(--bg2-color);
  }
  .nav_name {
    display: inline-block;
    position: relative;
    left: 4px;
  }

  .user_in_nav {
    margin-top: 50%;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    gap: 1rem;
    text-decoration: none;
    color: var(--text-color-dark);
    border-radius: 0.6rem;
    padding: 0.6rem;
    cursor: pointer;
  }
  .user_pic_in_nav {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
  }

  .new_post_modal {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
