.login_page {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80vh; */
  margin: 0;
  margin-top: 2rem;
}
.login_content {
  /* text-align: center; */
  width: 18rem;
  padding: 2rem;
  /* margin: 30px auto; */
  border: 1px solid var(--text-color-dark);
  border-radius: 0.6rem;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 30px 5px;
}
.login_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  gap: 0.7rem;
}
.login_label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.1rem;
  position: relative;
}

.login_label span {
  position: absolute;
  left: 16rem;
  top: 2rem;
  color: var(--text-color-dark);
}

.login_input {
  border: 1px solid var(--text-color-dark);
  border-radius: 0.5rem;
  height: 2rem;
  margin-top: 0.2rem;
  font: inherit;
  font-size: 0.9rem;
}
.login_btn {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  width: fit-content;
  color: var(--text-color-light);
  background-image: linear-gradient(
    135deg,
    rgb(63, 88, 182) 0%,
    rgb(49, 63, 119) 100%
  );
  align-self: center;
}
.login_btn:hover {
  opacity: 0.9;
}

.guest_btn {
  font: inherit;
  cursor: pointer;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  width: fit-content;
  align-self: center;
  color: #384995;
  border-color: #384995;
  background: transparent;
}

.guest_btn:hover {
  /* opacity: 0.9; */
  background-color: #384995;
  color: var(--text-color-light);
}

.new_acc_btn {
  color: var(--text-color-dark);
  font-weight: bolder;
  cursor: pointer;
}
.new_acc_btn::after {
  content: " >";
}
.new_acc_btn:hover {
  text-decoration: underline;
}
