.page {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
  margin: auto 10rem;
}
.page_content {
  flex-basis: 60%;
  height: 100vh;
  border-left: 1px solid var(--text-color-dark);
  border-right: 1px solid var(--text-color-dark);
  overflow-y: scroll;
}

.page_content::-webkit-scrollbar {
  width: 0; /* Hide the default scrollbar for Chrome, Safari, and Opera */
}
.page_nav_section {
  flex-basis: 15%;
}
