.page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.page_nav_section {
  padding: 0.25rem 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8;
  background-color: var(--main-bg-color);
  border-top: 1px solid black;
}

.page_content {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  margin-bottom: 5rem;
}

.suggest_section {
  display: none;
}

.top { 
  position: sticky;
  top: 0;
  z-index: 8;
}

@media screen and (min-width: 1024px) {
  .page {
    display: flex;
    flex-wrap: wrap;
    height: 91vh;
    overflow: hidden;
    justify-content: space-evenly;
    margin-top: 0;
  }
  .page_content {
    flex-basis: 50%;
    height: 91vh;
    border-left: 1px solid var(--text-color-dark2);
    border-right: 1px solid var(--text-color-dark2);
    overflow-y: scroll;
    margin-bottom: 0;
  }

  .page_content::-webkit-scrollbar {
    width: 0; /* Hide the default scrollbar for Chrome, Safari, and Opera */
  }
  .page_nav_section {
    flex-basis: 10%;
    position: relative;
    border-top: none;
    padding: 0;
  }
  .suggest_section {
    display: block;
    flex-basis: 20%;
  }
}
