.banner_img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}
.profile_img {
  border-radius: 50%;
  width: 15%;
  height: 7rem;
  object-fit: cover;
  position: absolute;
  right: 39rem;
  top: -4rem;
  border: 0.3rem solid var(--main-bg-color);
}
.profile_header {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 40%;
}
.header_info {
  padding: 1rem;
  padding-top: 0rem;
}
.network {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--text-color-dark2);
  padding-bottom: 0.5rem;
}
.network > p {
  margin: 0;
  font-size: large;
  color: var(--text-color-dark2);
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}
.edit_profile_btn {
  margin-right: 0.6rem;
  margin-top: 0.4rem;
}
