.feed_page {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
  margin: auto 10rem;
}
.feed_posts {
  flex-basis: 60%;
  height: 100vh;
  overflow-y: scroll;
  border-left: 1px solid var(--text-color-dark);
  border-right: 1px solid var(--text-color-dark);
}

.feed_posts::-webkit-scrollbar {
  width: 0; /* Hide the default scrollbar for Chrome, Safari, and Opera */
}
