.edit_post {
  width: 30rem;
  padding: 1rem;
  margin: 1rem;
  max-height: 90vh;
  overflow-y: auto;
  background-color: var(--bg3-color);
  border-radius: 1.5rem;
}
.edit_input::-webkit-scrollbar-horizontal {
  display: none;
}

.edit_post_input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  resize: none;
  outline: none;
  background-color: var(--main-bg-color);
  font-family: inherit;
  font-size: inherit;
  width: 90%;
  height: auto;
}
.edit_header {
  display: flex;
  justify-content: space-between;
}

.edit_post_img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 1rem;
}
.edit_post_media {
  display: flex;
  justify-content: center;
  margin: 0.4rem;
  position: relative;
}
.cancel_edit_img {
  position: absolute;
  right: 2.4rem;
  top: 0.27rem;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0.9;
  border-radius: 50%;
  padding: 0 0.2rem;
  cursor: pointer;
}
