.edit_post {
  width: 30rem;
  padding: 1rem;
  margin: 1rem;
  max-height: 90vh;
  overflow-y: auto;
  background-color: var(--bg3-color);
  border-radius: 1.5rem;
}
.edit_input::-webkit-scrollbar-horizontal {
  display: none;
}

.edit_post_input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  resize: none;
  outline: none;
  background-color: var(--main-bg-color);
  font-family: inherit;
  font-size: inherit;
  width: 90%;
  height: auto;
}
.edit_header {
  display: flex;
  justify-content: space-between;
}
