.explore_page {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
  justify-content: space-evenly;
  /* gap: 5rem;
  margin-left: 2rem; */
  /* margin: auto 10rem; */
}
.explore_posts {
  flex-basis: 50%; 
  height: 100vh;
  border-left: 1px solid var(--text-color-dark2);
  border-right: 1px solid var(--text-color-dark2);
  overflow-y: scroll;
}

.explore_posts::-webkit-scrollbar {
  width: 0; /* Hide the default scrollbar for Chrome, Safari, and Opera */
}

