.new_post {
  /* display: grid;
  grid-template-columns: 0.1fr 1fr;
  height: 30%;
  border-bottom: 1px solid var(--text-color-dark2);
  padding: 1rem; */
  display: flex;
  flex-direction: row;
  margin-bottom: 0.6rem;
  padding: 0.5rem;
}
.input_area {
  flex-basis: 80%;
}
.input_form {
  width: 100%;
}
.post_area {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  resize: none;
  outline: none;
  background-color: var(--bg2-color);
  font-family: inherit;
  font-size: inherit;
  /* color: black; */
  width: 92%;
  /* flex-basis: 100%; */
  height: 40%;
}
.post_area::placeholder {
  color: var(--text-color-dark2);
}
/* .input_area {
  width: 100%;
} */
.user_img {
  width: 7%;
  height: 7%;
  border-radius: 50%;
  padding: 1rem;
  aspect-ratio: 2/2;
  object-fit: cover;
}

.btn {
  border: none;
  margin: 0;
  border-radius: 0.5rem;
  padding: 0.4rem;
  background: none;
  font: inherit;
  cursor: pointer;
  background-color: var(--text-color-dark3);
  color: var(--text-color-light2);
}

.btn:hover {
  opacity: 0.9;
}
.post_call_to_action_btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
  gap: 0.9rem;
  position: relative;
}

.emoji_btn {
  color: var(--text-color-dark3);
  font-size: 1.6rem;
  cursor: pointer;
}

.emoji_modal {
  position: fixed;
  z-index: 9;
  padding: 0.4rem;
}

.upload_image {
  display: none;
}

.uploaded_pic {
  width: 30rem;
  height: 15rem;
  object-fit: cover;
  display: flex;
  margin: auto;
  border-radius: 0.8rem;
}

.new_post_media {
  display: flex;
  justify-content: center;
  margin: 0.4rem;
  position: relative;
}

.cancel_img {
  position: absolute;
  right: 2.4rem;
  top: 0.27rem;
  background-color: var(--text-color-dark2);
  color: whitesmoke;
  opacity: 0.9;
  border-radius: 50%;
  padding: 0 0.2rem;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .emoji_modal {
    left: 36rem;
  }
}
@media screen and (max-width: 860px) {
  .emoji_modal {
    left: 15rem;
  }
}
@media screen and (max-width: 500px) {
  .emoji_modal {
    left: 8rem;
  }
  .uploaded_pic {
    width: 20rem;
    height: 10rem;
  }
}
