@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

:root{
  --main-bg-color: #cadaf3;
  --text-color-dark: #222949;
  --text-color-light: #dbf2fe
}
body {
  background-color: var(--main-bg-color);
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
}